<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
        <link href="css/signform.css" rel="stylesheet">
        <script src="/js/form.js"></script>



    
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body style="background-image: url(../images/login-bg.jpg);">
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Home</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
          <%for(i=0;i<nav3.length;i++){%>
        <li>
          <a href="<%=nav3[i].link%>"><%=nav3[i].name%></a>
        </li>
       <%}%>
      </ul>
      <ul class="nav navbar-right navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
          <ul class="dropdown-menu" style="padding:12px;">
            <form class="form-inline">
              <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
            </form>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 style="margin-top: 100px;">Login
          <p class="lead"></p>
        </h1>
      </div>
      
  
      <!-- <div class="col-md-5">
        <div class="well well-lg"> 
          <div class="row">
            <div class="col-sm-12">
              
			
            </div>
          </div>
        </div>
      </div> -->
    </div> 
  </div><!-- /cont -->
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
</div>
<div class="container">
<div class="row-md-4"> 
  <div class="col">
  
  <!-- <div id="SLIDE_bgk"> -->
        <div class="row" id="bookshelf" style="float: left;">
           <div class="col-md-3" id="box1" style="float: left;">
            <!-- <p style="color: white;font-family: 'Times New Roman', Times, serif;font-style: italic;font-size: xx-large;text-align: center;"><br>R</p> -->
          </div>
            <div class="col-md-3" id="box2" ></div>
              <div class="col-md-4" id="box3" style="float: left;"></div>
                <div class="col-md-4" id="box4" style="float: left;"></div>
                  <div class="col-md-4" id="box5" style="float: left;"></div>
                   <br><br><br><br> <br><br>
           <div class="col-md-3" id="box6" style="float: left;"></div>
            <div class="col-md-3" id="box7" ></div>
              <div class="col-md-4" id="box8" style="float: left;"></div>
                <div class="col-md-4" id="box9" style="float: left;"></div>
                  <div class="col-md-4" id="box10" style="float: left;"></div>
                  <br><br><br><br> <br><br>
                  <div class="col-md-3" id="box11" style="float: left;"></div>
                    <div class="col-md-3" id="box12" ></div>
                      <div class="col-md-4" id="box13" style="float: left;"></div>
                        <div class="col-md-4" id="box14" style="float: left;"></div>
                          <div class="col-md-4" id="box15" style="float: left;"></div>
                          <br><br><br><br> <br><br>
                          <div class="col-md-3" id="box16" style="float: left;"></div>
                            <div class="col-md-3" id="box17" ></div>
                              <div class="col-md-4" id="box18" style="float: left;"></div>
                                <div class="col-md-4" id="box19" style="float: left;"></div>
                                  <div class="col-md-4" id="box20" style="float: left;"></div> 
        </div>
           
                <!-- </div> -->
      
        <div class="container">
    
            <!-- <div class="col-md-12">  -->
      
      <!-- <div class="panel"> -->
        <div class="panel-body">
          
          
          <!--/stories-->
          <form  name= "form" class="signform" onsubmit="return validate();">
        
            <h3>Sign in</h3>
            <div class="form-group">
              <label for="exampleInputEmail1">Username</label>
              <input type="text" class="form-control" id="user" aria-describedby="emailHelp" required>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="pwd" required>
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Remember me</label>
            </div>
            <button type="submit" class="btn btn-outline-success">Submit</button>
            
          </form>
          <hr>
          
          <!--/stories-->


          
          </div>
        
          </div>
        </div>
      <!-- </div> -->
                                                                                       
	                                                
                                                      
   	</div><!--/col-12-->
  <!-- </div> -->
</div>
                                                
     </div>                                                                           
<hr>

<div class="container" id="footer">
  <div class="row">
    <div class="col col-sm-12">
      
      <h1>Follow Us</h1>
      <div class="btn-group">
       <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
	   <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
	   <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
      </div>
      
    </div>
  </div>
</div>

<hr>

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>
        
      </div>
      <div class="col-sm-6">
          <p class="pull-right">Built with <i class="icon-heart-empty"></i> at <a href="http://www.bootply.com">Bootply</a></p>      
      </div>
    </div>
  </div>
</footer>
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
      var user= document.getElementById("user");
      var pwd= document.getElementById("pwd");
        
  function validate()
  {
     var username= "admin";
     var password="admin";
     

    if((username==user.value) &&  (password==pwd.value))
   {
         console.log("true");
         document.form.action="admin"
          return true;
     }
     else
     {
       console.log("false");
       document.form.action="user"
       
        return true;
     }
    }
    // function invalid(){
    //   return true;
    // }
    </script>
	</body>
</html>